# Snapmint API Environments
BASE_URL=https://api.qa.snmt.link
BASE_URL=https://api.qa.snmt.link

# Test Authentication Data
TEST_USER_MOBILE=8435678097
TEST_USER_OTP=1010

# Test Cart Configuration
TEST_MERCHANT_ID=1423
TEST_PRODUCT_MASTER_ID=102422
TEST_PROMO_ID=019933ee-33c2-7799-b09f-547a07645597

# Logging Level (debug, info, error)
LOG_LEVEL=info
